<<<<<<< HEAD
<p> <%= @order.user.first_name %> a comandat <%= @order.menu.title %>. Comanda este <%= @order.status %>. </p>

<%= link_to 'Back', menus_path %>
=======

<p><b>Status: </b><%= @order.status %></p>
<p><b>Meniu: </b><%= @order.menu.title %></p>
<p><b>User: </b><%= @order.user.first_name %></p>

>>>>>>> a869527c7acbf4dd4d4f550737f6acaa8f30218a
